<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Theme.AppTheme">
        <activity
            android:name=".MainActivity"
            android:banner="@drawable/banner"
            android:exported="true"
            android:icon="@drawable/banner"
            android:logo="@drawable/banner"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.service.notification.NotificationListenerService" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LeaderboardActivity" />

        <service
            android:name=".service.NotificationReceiver"
            android:exported="true"
            android:label="Media Notification Receiver"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>